.container-fluid {
	margin: 10% 10%;
	background-color: white;
}

/* Form styles */
.billing-address, .shipping-address {
	width: 450px;
	height: 180px;
	padding: 5px;
	margin: 10px 0px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.billing-address {
	margin-left: 30px;
}

.shipping-address {
	margin-left: 8px;
}

.representative {
	width: 920px;
	height: 180px;
	padding: 5px;
	margin: 10px 0px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin-left: 30px;
}

.representative p {
	width: 250px;
	margin: 5px auto;
}

#street, #city, #firstName, #lastName, #email {
	margin: 5px 0px;
}

select {
	margin: 5px 0px;
}

.inline {
	display: inline-block;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	color: #555555;
}

.addShipping, .removeShipping {
	width: 75vw;
	cursor: pointer;
	text-align: center;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox] ~ .removeShipping {
	display: none;
}

input[type=checkbox] ~ .view {
	display: none;
}

input[type=checkbox]:checked ~ .view {
	display: block;
}

input[type=checkbox]:checked ~ .removeShipping {
	display: block;
}

input[type=checkbox]:checked ~ .addShipping {
	display: none;
}
