.container-fluid {
	margin: 10% 10%;
	background-color: white;
}

/* Form styles */
.billing-address, .shipping-address, .representative {
	padding: 5px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

#street, #city, #firstName, #lastName, #email {
	margin: 5px 0px;
}

select {
	margin: 5px 0px;
}