.conatiner-fluid {
	margin: 10% 10%;
	background-color: white;
}

/* Form styles */
.billing-address, .shipping-address {
	padding: 5px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}